# For more details on how to configure Wrangler, refer to:
# https://developers.cloudflare.com/workers/wrangler/configuration/

"$schema" = "node_modules/wrangler/config-schema.json"

name = "doi"
main = "src/index.ts"
compatibility_date = "2025-11-20"
compatibility_flags = ["enable_request_signal"]

[observability]
enabled = true

[version_metadata]
binding = "CF_VERSION_METADATA"

[[durable_objects.bindings]]
name = "STORAGE"
class_name = "StorageDO"

[[durable_objects.bindings]]
name = "TOKEN_REFRESH"
class_name = "TokenRefreshDO"

[[kv_namespaces]]
binding = "KV"
id = "b4bad374baa14366a481f67e8c9c09bb"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["StorageDO"]

[[migrations]]
tag = "v2"
new_sqlite_classes = ["TokenRefreshDO"]
